
/*----------------------------------------------------------------loading*/  
.overlay{
  background: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  
}
.overlay img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*----------------------------------------------------------------loading*/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    overflow: hidden;
}
#particles-js{
    width: 60%;
    height: 100%;
    position: fixed;
    right: 5%;
}
.container{
  width: 100%;
  height: 100%;
  background-image: url('../images/fond.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
  grid-template-areas: "logo .       .      social"
                       "logo .       .      social"
                       ".   . countdown countdown"
                       ".		.	countdown countdown"
                       ".		.	suscription suscription"
                       ".   . suscription suscription"
                       ".   . shop        shop"
                       "footer	footer	footer	footer";
}
/*----------------------------------------------------------------social*/
.social{
  grid-area: social;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.social-link{
  width: 60px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 1px 0 1px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: black;
  border: 1px solid gray;
  border-top: none;
}
.social-link a{
  text-decoration: none;
  color:white;
  font-size: 35px; 
}
.social-link a:hover{
  color: #30c6e1;
}
.logo{
  grid-area: logo;
  margin-left: 10%;
  position: relative;
}
.logo a img{
  width: 350px;
  margin-top: 30px;
}
/*----------------------------------------------------------------header*/
/*-------------------------------------------------------------countdown*/
.countdown-container{
  grid-area: countdown;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  position: relative;
  right: 10px;
}
.content{
  width: 173px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.time{
  width: 150px;
  height: 150px;
  border: 3px solid gray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
h5{
  margin-top: 15px;
  font-size: 1.5em;
}
/*-------------------------------------------------------------countdown*/
/*-----------------------------------------------------------suscription*/
.suscription-container{
  grid-area: suscription;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  position: relative;
  margin: 10px 0 10px;
  color: rgb(252, 249, 249);
  font-size: 3em;
}
.box{
  width: 400px;
  height: 48px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #cb3eff;
  border-radius: 5px 0 0 5px;
}
.btn{
  width: 100px;
  height: 48px;
  position: relative;
  border-color: #cb3eff;
  background: #cb3eff;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}
/*-----------------------------------------------------------suscription*/
/*------------------------------------------------------------------shop*/
.shop{
  grid-area: shop;
  position: relative;
  padding-left: 11%;
  top: -5%;
}
.shop a{
  font-size: 2.5em;
  text-decoration: none;
  color: #cb3eff;
}
.shop a:hover{
  color: #30c6e1;
}
/*------------------------------------------------------------------shop*/
/*----------------------------------------------------------------footer*/
.footer-container{
  grid-area: footer;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.footer{
  width: 100%;
  padding-left: 20px;
  color: blue;
  font-size: 1.5em;
  background: rgba(0,0,0, .6);
}
@media screen and (max-width: 1024px){
  .logo a img{
    width: 200px; 
  }
  .social{
    justify-content: flex-end;
  }
  .social-link{
    width: 30px;
    height: 90px;
    
  }
  .social-link a{
    font-size: 15px; 
  }
  .content{
    width: 100px;
    margin: 5px;
    flex-direction: column;
    align-items: center;
  }
  .time{
    width: 70px;
    height: 70px;
    font-size: 1.2rem;
  }
  h5{
    font-size: 1em;
  }
  h1{
    font-size: 1.7em;
  }
  .box{
    width: 200px;
    height: 38px;
    font-size: 0.7em;
  }
  .btn{
    width: 65px;
    height: 38px;
    font-size: 0.7em;
  }
  .shop a{
    font-size: 1.3em;
    padding-left: 9%;
  }
  .footer{
    font-size: 1em;
  }
}
@media screen and (max-width: 768px){
  .logo a img{
    width: 150px; 
  }
  
  .social-link{
    width: 20px;
    height: 60px;
    margin: 0 2px 0 2px;
    padding-bottom: 3px;
  }
  .social-link a{
    font-size: 12px; 
  }
  .content{
    width: 60px;
    margin: 10px;
  }
  .time{
    width: 70px;
    height: 70px;
    font-size: 1.2em;
  }
  h5{
    font-size: .9em;
  }
  h1{
    font-size: 1.2em;
  }
  .box{
    width: 150px;
    height: 28px;
    font-size: 0.7em;
  }
  .btn{
    width: 65px;
    height: 28px;
    font-size: 0.7em;
  }
  .shop{
    top: -50%;
    padding-left: 3%;
  }
  .shop a{
    font-size: 1em;
    margin-left: -2px;
  }
  .footer{
    font-size: 0.7em;
  }
}
@media screen and (max-width: 480px){
  .container{
    width: 100%;
    height: autos;
    background: black;
    display: grid;
    grid-template: repeat(6, 1fr) 40px / 100%;
    grid-template-areas: "logo"
                         "logo"
                         "countdown"
                         "suscription"
                         "shop"
                         "social"
                         "footer";
  }
  .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .logo a img{
    width: 300px;
    margin: 0;
    
  }
  .countdown-container{
    width: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .suscription-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .box{
    width: 230px;
  }
  .shop{
    top:0;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .shop a{
    padding: 0;
  }
  .social{
    justify-content: center;
    align-items: center;
  }
  .social-link{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    align-items: center;
  }
  .social-link a{
    font-size: 33px;
  }
  .footer-container{
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }
  .footer{
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 320px){
  
}