@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?smcfqc');
    src:  url('../fonts/icomoon.eot?smcfqc#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?smcfqc') format('truetype'),
      url('../fonts/icomoon.woff?smcfqc') format('woff'),
      url('../fonts/icomoon.svg?smcfqc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-brand:before {
    content: "\e900";
  }
  .icon-social:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-brand1:before {
    content: "\e901";
  }
  .icon-social1:before {
    content: "\e901";
  }
  .icon-twitter:before {
    content: "\e902";
  }
  .icon-brand2:before {
    content: "\e902";
  }
  .icon-tweet:before {
    content: "\e902";
  }
  .icon-social2:before {
    content: "\e902";
  }
  .icon-youtube:before {
    content: "\e903";
  }
  .icon-brand3:before {
    content: "\e903";
  }
  .icon-social3:before {
    content: "\e903";
  }
  .icon-twitch:before {
    content: "\e904";
  }
  .icon-brand4:before {
    content: "\e904";
  }
  .icon-social4:before {
    content: "\e904";
  }
/*----------------------------------------------------------------loading*/  
.overlay{
  background: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  
}
.overlay img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*----------------------------------------------------------------loading*/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    overflow: hidden;
}
#particles-js{
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
}
.container{
  width: 100%;
  height: 100%;
  background-image: url('../images/fond.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
  grid-template-areas: "header header header header"
                       "header header header header"
                       ".   . countdown countdown"
                       ".		.	countdown countdown"
                       ".		.	suscription suscription"
                       ".   . suscription suscription"
                       ".   . shop        shop"
                       "footer	footer	footer	footer";
}
/*----------------------------------------------------------------header*/
.header{
  grid-area: header;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "logo . . social";
}
.social{
  grid-area: social;
  display: flex;
  justify-content: center;
}
.social-link{
  width: 60px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 5px 0 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: black;
  border: 1px solid gray;
  border-top: none;
}
.social-link a{
  text-decoration: none;
  color:white;
  font-size: 35px; 
}
.social-link a:hover{
  color: #30c6e1;
}
.logo{
  grid-area: logo;
  margin-left: 10%;
  position: relative;
}
.logo a img{
  width: 350px;
  margin-top: 30px;
}
/*----------------------------------------------------------------header*/
/*-------------------------------------------------------------countdown*/
.countdown-container{
  grid-area: countdown;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.content{
  width: 173px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.time{
  width: 150px;
  height: 150px;
  border: 3px solid gray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
h5{
  margin-top: 15px;
  font-size: 1.5em;
}
/*-------------------------------------------------------------countdown*/
/*-----------------------------------------------------------suscription*/
.suscription-container{
  grid-area: suscription;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  position: relative;
  margin: 10px 0 10px;
  color: rgb(252, 249, 249);
  font-size: 3em;
}
.box{
  width: 400px;
  height: 48px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #cb3eff;
  border-radius: 5px 0 0 5px;
}
.btn{
  width: 100px;
  height: 48px;
  position: relative;
  border-color: #cb3eff;
  background: #cb3eff;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}
/*-----------------------------------------------------------suscription*/
/*------------------------------------------------------------------shop*/
.shop{
  grid-area: shop;
  position: relative;
  padding-left: 12%;
  top: -5%;
}
.shop a{
  font-size: 2.5em;
  text-decoration: none;
  color: #cb3eff;
}
.shop a:hover{
  color: #30c6e1;
}
/*------------------------------------------------------------------shop*/
/*----------------------------------------------------------------footer*/
.footer-container{
  grid-area: footer;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.footer{
  width: 100%;
  padding-left: 20px;
  color: blue;
  font-size: 1.5em;
  background: rgba(0,0,0, .6);
}
@media screen and (max-width: 1024px){
  .logo a img{
    width: 200px; 
  }
  .social-link{
    width: 30px;
    height: 90px;
  }
  .social-link a{
    font-size: 15px; 
  }
  .content{
    width: 100px;
    margin: 5px;
    flex-direction: column;
    align-items: center;
  }
  .time{
    width: 70px;
    height: 70px;
    font-size: 1.2rem;
  }
  h5{
    font-size: 1em;
  }
  h1{
    font-size: 1.7em;
  }
  .box{
    width: 200px;
    height: 38px;
    font-size: 0.7em;
  }
  .btn{
    width: 65px;
    height: 38px;
    font-size: 0.7em;
  }
  .shop a{
    font-size: 1.3em;
    margin-left: -15px;
  }
  .footer{
    font-size: 1em;
  }
}
@media screen and (max-width: 767px){
  .logo a img{
    width: 150px; 
  }
  
  .social-link{
    width: 20px;
    height: 60px;
    margin: 0 2px 0 2px;
    padding-bottom: 3px;
  }
  .social-link a{
    font-size: 12px; 
  }
  .content{
    width: 60px;
    margin: 10px;
  }
  .time{
    width: 70px;
    height: 70px;
    font-size: 1.2em;
  }
  h5{
    font-size: .9em;
  }
  h1{
    font-size: 1.2em;
  }
  .box{
    width: 150px;
    height: 28px;
    font-size: 0.7em;
  }
  .btn{
    width: 65px;
    height: 28px;
    font-size: 0.7em;
  }
  .shop{
    top: -9%;
  }
  .shop a{
    font-size: 1em;
    margin-left: -2px;
  }
  .footer{
    font-size: 0.7em;
  }
}
@media screen and (max-width: 480px){
  #particles-js{
    width: 100%;
}
  .container{
    width: 100%;
    height: 100%;
    background: black;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 0;
    grid-template-areas: "logo"
                         "countdown"
                         "suscription"
                         "shop"
                         "social"
                         "footer";
  }
  .logo{
    grid-area: logo;
    position: relative;
    top: -390px;
    left: 15%;
  }
  .logo a img{
    width: 250px;
  }
  .countdown-container{
    grid-area: countdown;
    position: relative;
    right: -230px;
    top: 150px;
  }
  .content{
    width: 30px;
    margin: 15px;
  }
  .time{
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  }
  h5{
    font-size: .9em;
  }
  .suscription-container{
    grid-area: suscription;
    position: relative;
    left: 50px;
    top: 150px;
    width: 400px;
  }
  .form-email{
    position: relative;
    left: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .shop{
    position: relative;
    top: 165px;
    left: 217px;
  }
  .social-link{
    grid-area: social;
    width: 40px;
    height: 40px;
    margin: 0 2px 0 2px;
    border-radius: 5px;
    padding: 0;
    align-items: center;
    position: relative;
    left: -68%;
    bottom: -60px;
    border: 1px solid gray;
  }
  .social-link a{
    font-size: 30px; 
  }
  .footer-container{
    width: 100vw;
    grid-area: footer;
    position: relative;
    bottom: -154px;
  }
  .footer p{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 320px){
}