            /*
			purpura claro cb3eff
			celeste/turkesa 30c6e1
			purpura oscuro 8201b2
			negro 000
			blanco gris tisa e8f3f8
			blanco fff
			
			
			*/
			body{
				width: 100%;
				margin: 0;
				padding: 0;
				background: rgba(0, 0, 0, .7);
				font-family: 'Noto Sans TC', sans-serif;
			}
			.header{
				width: 100%;
				height: 70px;
                position: fixed;
                z-index: 12;
				top: 0;
				left: 0;
				display: flex;
				justify-content: space-around;
				background: rgba(255, 0, 255, 1);
			}
			.menu{
				height: 100%;
				z-index: 1;
				width: 100%;
			}
			.menu ol{
				height: 100%;
				margin: 0;
				padding: 0 40px;
				display: flex;
				list-style-type: none;
				justify-content: space-between;
				align-items: center;
			}
			.menu li{
				width: 100px;
				height: 100%;
				display: flex;
				align-items: center;
			}
			.link{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 50px;
				text-decoration: none;
				color: black;
				font-weight: 700;   
            }
            .sho{
                border-radius: 10px;
                border: 1px solid #30c6e1;
            }
			.link img{
				width: 100%;
				height: 100%;
			}
			.container{
				width: 100%;
				display: flex;
				padding-top: 50px;
				margin: 0;
			}
			.left{
				width: 48%;
				border-radius: 10px;
				position: absolute;
				left: 20px;
				margin-top: 50px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				background: rgba(232,243,248, .4);
			}
			.right{
				width: 48%;
				position: absolute;
				right: 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			.image-container{
				width: 60%;
				height: 500px;
				display: flex;
				background: transparent;
				justify-content: center;
				position: relative;
				box-sizing: border-box;
			}
			.image-container img{
				width: 400px;
				position: relative;
				will-change: translate;	
			}
			.countdown-container{
				width: 80%;
				height: 150px;
				margin-top: -20px;
				color: blue;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 50px;
				position: relative;
			}
			.time{
				padding-left: 10px;
				padding-right: 10px;
				margin-right: 5px;
				border: 1px solid gray;
				background: black;
			}
			.suscription-container{
				width: 90%;
				height: 100px;
				color: white;
			}
			.form-email{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
			.box{
				width: 350px;
				height: 46px;
				margin: 0;
				padding: 0;
				padding-left: 5px;
				font-size: 20px;
			}
			.btn-con{
				width: 90px;
				padding-right: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.btn{
				width: 95px;
				height: 50px;
				padding: 0;
				border: 0;
				background: rgba(255, 0, 255, 1);
				font-weight: 800;
				font-size: 15px;
			}
			.btn:active{
				border:1px solid gba(255, 0, 255, 1);
				width: 90px;
				height: 45px;
				margin-left: 5px; 
			}
			.feed-twitter{
				margin-top: 40px;
				position: relative;
				display: flex;
			}
			.feed-twitter a{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.social{
				margin: 50px;
				justify-content: center;
				align-items: center;
				display: flex;
				width: 100%;
				height: 60px;
			}
			.social-link{
				width: 50px;
				height: 50px;
				margin: 15px;
				font-size: 50px;
				display: flex;
				align-items: center;
			}
			.facebook{
				color: #3A5795;
				margin-right: 0;
			}
			.youtube{
				color: #CC181E;
				font-size: 40px;
			}
			.twitter{
				color: #5EA9DD;
			}
			.instagram{
				color: #C08D64;	
				font-size: 40px;
			}
			.twitch{
				color: #6441A4;
				font-size: 40px;
			}
			.overlay{
				background: black;
				height: 100%;
				width: 100%;
				position: fixed;
				-webkit-transition: all 1s ease;
				-o-transition: all 1s ease;
				transition: all 1s ease;
				z-index: 10000;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.container-load{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
			.overlay img{
				width: 550px;
				position: absolute;
				left: 27%;
				top: 100px;			
			}
			.load{
				border: 15px solid white;
				border-top-color: #F4266A;
				border-top-style: groove;
				height: 70px;
				width: 70px;
				border-radius: 100%;
				position: absolute;
				left: 45%;
				top: 400px;
				margin: auto;
				animation: girar 1.5s linear infinite;
			}
			@keyframes girar{
			from{transform: rotate(0deg);}
			to{transform: rotate(360deg);}
			}
            .footer{
                width: 100%;
                height: 35px;
                position: fixed;
                bottom: 0px;
                display: flex;
                justify-content: center;
                text-align: center;
                background: black;
                color: white;
            }
            @media screen and (max-width: 1024px){
				.left{
					width: 45%;
					margin-top: 40px;
				}
				.right{
					width: 45%;
				}
                .countdown-container{
                    font-size: 25px;
                }
                .social{
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .social-link{
                    width: 35px;
                    height: 35px;
                }
                .youtube{
                    font-size: 30px;
                }
                .instagram{
                    font-size: 30px;
                }
                .twitch{
                    font-size: 30px;
                }
                .box{
                    height: 40px;
                }
                .btn{
                    width: 80px;
                }
            }
            @media screen and (max-width: 768px){
                .btn{
                    height: 40px;
                    font-size: 12px;
                }
                .box{
                    height: 36px;
                    font-size: 12px;
				}
				.overlay img{
					left: 15%;		
				}
				.load{
					left: 45%;
				}
            }
            @media screen and (max-width: 480px){
				.feed-twitter{
					display: none;
				}
				.left{
					width: 90%;
					margin-left: 5px;
					margin-right: 5px;
				}
				.countdown-container{
					top: -300px;
				}
				.right{
					height: 70px;
				}
				.social{
					position: relative;
					bottom: -540px;
					left: -115px;
				}
				.suscription-container{
					position: relative;
					top: -25px;
				}
				.overlay img{
					left: 19%;
					width: 300px;		
				}
				.load{
					left: 45%;
					bottom: 300px;
					width: 50px;
					height: 50px;
				}
            }
            @media screen and (max-width: 320px){
				.text{
					display: none;
				}
				.social{
					left:-70px;	
					bottom: -530px;
				}
				.overlay img{
					left: 10%;
					top: 150px;	
				}
				.load{
					left: 40%;
					bottom: 300px;
					width: 50px;
					height: 50px;
				}
            }